{% extends 'base.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}
    <h1>Create new Address</h1>

    {{ include('address_crud/_form.html.twig') }}

    <a href="{{ path('app_address_crud_index') }}">back to list</a>
{% endblock %}
